{% extends 'authentication/layout.html' %}
 {% block headblock %}
     <style>
    body{
background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    }
    .input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 20%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }
    .button3{
            background-color: #e9372d;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
            transition: 0.5s;
        }
        .button3:hover{
            background-color: #063e68;

        }
     p{
         font-size: 20px;
     }
    </style>



    <title>Add money</title>
     <script>
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };

    </script>
{% endblock %}
{% block content %}
    <center>
        <p>Please check your inbox for confirmation email.</p>
    <form action="{% url 'credits.confirm' %}" method="post">
        {% csrf_token %}
        Enter the key<br>
        <input name="pay_key" id="pay_key" class="input">
        <br>
        <input type="submit" class="button3" value="Submit">
        <a href="/credits/transaction_cancel">
        <input type="button" class="button3" value="Cancel">
        </a>
    </form>
    </center>
{% endblock %}