{% extends 'authentication/layout.html' %}
{% block headblock %}
    <script>
         history.pushState(null, null, location.href);
         window.onpopstate = function () {
            history.go(1);
         };
    </script>
    <meta charset="UTF-8">
    <title>Title</title>
{% endblock %}
{% block content %}
    Please Enter the verification code below.
    <form action="{% url 'credits.verify_sms' %}" method="post">
        {% csrf_token %}
        Enter the code<br>
        <input name="code" id="code" type="text">
        <input type="submit" value="Submit">
        <a href="/credits/redeem_cancel">
        <input type="button" value="Cancel">
        </a>
    </form>
{% endblock %}