{% extends 'userlogin/base.html' %}
{% load staticfiles %}

{% block content %}
<br><br><br>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
      $(function(){
          var time = 5;

          function redirect(){
            setTimeout(redirect,1000);
            $(".timer").html(time)
            if(time == 0)
            {
                window.location.href = 'http://127.0.0.1:8000/BloodRequest/home'
            }
            time--;
          }
          redirect()
        });
      </script>
    <center><img src="{% static "Blood_blog/images/loader.gif" %}" width="80px" height = "80px"></center>

   <center>  <h1>
     Thankyou for filling the form.<br>You'll be directed to our blog in
     <span class = "timer">0</span> seconds</h1></center><br><br><br>
      <br><br><br><br>
{% endblock %}
