{% extends 'authentication/layout.html' %}
{% load static from staticfiles %}
{% block headblock %}
    <title>Profile</title>
    <style>
        body{
            margin:0px;
            background-image: url("{% static 'bg5.jpg' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100%;
            color: white;
        }


        .img321{height: 200px;
            width:250px;
            padding-top: 50px;
        }
        .button3,input[type="file"]{
            background-color: #919191;
            border: none;
            width: 25%;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
            transition: 0.5s;
        }
        .button3:hover{
            background-color: #5B7BD5;
        }

        .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 30%;
        margin: auto;
        text-align: center;
        margin-top: 3%;
        background-color: #e1dcd4;
        }

        td,tr{
        text-align:left;
        font-family: 'Century Gothic';
        text-transform: capitalize;
        padding: 10px;
        color: black;
        }


        .div1{
            min-height: 100vh;
            width:100%;
            overflow: auto;
            font-size: 17px;
            box-shadow:  inset 0 0 10px #000000;
            color: #000000;
        }
    </style>
{% endblock %}
{% block content %}

        <div class="card">
            <center>
                <img class ="img321"  src="{{ user.userprofile.profile_pic.url }}"><br><br><br><br>
                
                    <table>
                        <tr>
                            <td>
                                Name:
                            </td>
                            <td>
                                {{ user.username  }}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gender:
                            </td>
                            <td>
                                {{ user.userprofile.gender }}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email:
                            </td>
                            <td>
                                {{ user.email }}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Phone Number:
                            </td>
                            <td>
                                {{ user.userprofile.phone_number }}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Last review:
                            </td>
                            <td>
                                {% if review %}
                                    {% for i in review %}
                                    <textarea disabled draggable="false"  rows="2"  style="resize: none; width: 100%;text-align: left;" >{{ i }}</textarea>
                                    {% endfor %}
                                {% endif %}<br>
                            </td>
                        </tr>


                    </table>
                
                <a href="{% url 'editprofile' %}">   <button class="button3"> Edit </button></a>

            </center>
        </div>

{% endblock %}