#heading{
  font-family: fantasy;
  color: #ededed;
  z-index: 1;
  padding-left: 30px;
}

#logo{
  width:17%;
  border-radius: 50%;
  z-index: 1;
  opacity:1;
}

.success{
  font-size: 16px;
  color:green;
}

.error{
  font-size: 16px;
  color:red;
}

#bgimg{
  position: fixed;
  z-index: 0;
  width: 100%;
}

#uname{
  color:#ededed;
  font-size: 20px;
}

#dp{
  width:120%;
  border-radius: 50%;
  z-index: 1;
  height:40px;
}

.scroll{
  overflow-y: scroll;
  height: 10px;
}

#list{
  list-style-type: none;
}

#cont{
  width:100%;
  background-image: linear-gradient(to bottom, #82b1ff 50%, #dbdbdb 50%);
  padding-left:0px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 7px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 10px 10px 10px 10px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.scrolling-warpper{
  overflow-y: visible;
  overflow-x: scroll;
  white-space: nowrap;
}

.divs{
  white-space: normal;
  display: inline-block;
}

.sidenav {
  height: 100%;
  width: 21.7%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
