<!Doctype html>
{%  load static %}
{% block content %}

 {% comment %} {% if not validlink %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% else %}{% endcomment %}
    <div class = "adjust">

        <h3>Change password</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-info">Change password</button>
        </form>
  {% comment %}{% endif %}{% endcomment %}
    </div>
{% endblock %}