.link{
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.link:hover{
  color: deepskyblue;
  text-decoration: none;
}

.btn1{
  width: 50%;
}


.field_name{
  color:white;
}

.login_btn{
  width:100%;
}
.input_login{
  width: 100%;
}


.login-form {
  width: 340px;
    margin: 50px auto;
}
  .login-form form {
    margin-bottom: 15px;
      background: #f7f7f7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
  .login-form h2 {
      margin: 0 0 15px;
  }
  .form-control, .btn {
      min-height: 38px;
      border-radius: 2px;
  }
  .btn {
      font-size: 15px;
      font-weight: bold;
  }

  .create_acc_login{
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  .create_acc_login:hover{
    color: deepskyblue;
    text-decoration: none;
  }
input{
  width:100%;
}

.button {
  border: 1px solid deepskyblue;
  color: deepskyblue;
  padding: 8.2px 20px;
  background-color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 0.5px;
  cursor: pointer;
}
.button:hover{
  background-color: deepskyblue;
  text-decoration: none;
  color:black;
}



.button1 {
  /* border: none; */
  border: 1px solid deepskyblue;
  color: deepskyblue;
  padding: 8.2px 20px;
  text-align: center;
  text-decoration: none;
  background-color: black;
  display: inline-block;
  font-size: 16px;
  margin: 3px 0.5px;
  cursor: pointer;
}

.button1:hover{
  background-color: deepskyblue;
  text-decoration: none;
  color:black;
}
/* .button_log1{
  margin-left:10px;
} */



  #image{
    width:90%;
    height:120px;
    margin-bottom:0px;
  }
  .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }


  #id_search_query{
    padding: 8.72px 20px;
    background-color: black;
    color: deepskyblue;
    border: none;
    border-bottom: 1px solid deepskyblue;
    border-radius: 0px;
    width:150px;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
  }
  #id_search_query:focus{
    box-shadow: 0px 0px 0px black;
    width: 300px;
  }





  #id_search_ty{
    padding: 9px 20px;
  }
  #id_search_ty{
    background: deepskyblue;
    border: none;
  }
  #id_search_ty > option{
    background-color: white;
    font-size: 20px;
  }
  #searchb2{
    margin-left:100px;
  }
