{% extends 'nav.html' %}

{% load widget_tweaks %}
{% block content %}

{#    <div class='col-md-4 col-10  mx-auto'>#}
{#        <h1>Set your Password</h1>#}
{#        <form method='post' action=''>{% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <span style='margin-bottom: 12px;'></span>#}
{#        <button type="submit" class='btn btn-block btn-info'>Set new password</button>#}
{#        </form>#}
{#      </div>#}


    <form method='post' action=''>
 {% csrf_token %}
    {% for field in form %}

            {{ field.label_tag }}<br>
        {{ field|add_class:"form-control mb-4" }}
     <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
         {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    </small>
    {% endfor %}
        <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>


    </form>


{% endblock %}
