{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% block title %} Home {% endblock %}

{% block extrahead %}
  <style type="text/css">
      html,
      body,
      header,
      .jarallax {
        height: 100%;
      }

      @media (min-width: 560px) and (max-width: 740px) {
          html,
          body,
          header,
          .jarallax {
            height: 500px;
          }
      }
      @media (min-width: 800px) and (max-width: 850px) {
          html,
          body,
          header,
          .jarallax {
            height: 500px;
          }
      }
      @media (min-width: 800px) and (max-width: 850px) {
          .navbar:not(.top-nav-collapse) {
              background: #272a2d!important;
          }
          .navbar {
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
          }
      }
      body{
        background-color: white !important;
      }
      .section-padding {
        padding: 130px 0;
    }
    </style>


{% endblock %}


{% block body %}

        <!-- Intro Section -->
        <div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://mdbootstrap.com/img/Photos/Others/images/42.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask rgba-black-slight">
                <div class="container h-100 d-flex justify-content-center align-items-center">
                    <div class="row smooth-scroll">
                        <div class="col-md-12 dark-grey-text text-center">
                            <div class="wow fadeInDown" data-wow-delay="0.2s">
                                <h2 class="display-3 font-weight-bold mb-2">Recipes</h2>
                                <hr class="hr-dark">
                                <h4 class="subtext-header mt-2 mb-2">If more of us valued food and cheer and song above hoarded gold, it would be a merrier world</h4>
                                <h4 class="mb-5"> </h4>
                            </div><!--
                            <a href="{% url 'home:tryout' %}" class="btn btn-yellow btn-rounded wow fadeInUp" data-wow-delay="0.2s">
                                <i class="far fa-calendar-alt mr-2"></i>
                                <span> Explore Now</span>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!--/Navigation & Intro-->

    <!--Main content-->
    <main>

        <!--First container-->
        <div class="container">

            <!--Section: About-->
            <section id="about" class="section about mt-3 mb-5">

                <!--Secion heading-->
                <div class="row mt-5 mb-4">
                    <div class="col-md-12 div-color-2">
                        <div class="divider-new">
                            <h3 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn" data-wow-delay="0.2s">about us</h3>
                        </div>
                    </div>
                    <!--First row-->

                    <div class="row mt-4">

                        <!--First column-->
                        <div class="col-lg-5 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">

                            <!--Image-->
                            <img src="https://mdbootstrap.com/img/Others/food2.jpg" alt="" class="z-depth-0 img-fluid">

                        </div>
                        <!--/First column-->

                        <!--Second column-->
                        <div class="col-lg-6 offset-lg-1 col-md-12 wow fadeIn" data-wow-delay="0.4s">

                            <!--Title-->
                            <h4 class="text-center mb-4">We provide tasty and healty recipes</h4>

                            <!--Description-->
                            <p class="grey-text mb-6 mr-3  ml-3" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam,
                                dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque delectus, beatae
                                maxime temporibus maiores quibusdam quasi.Rem magnam ad perferendis iusto sint tempora ea
                                voluptatibus iure, animi excepturi modi aut possimus in hic molestias repellendus illo ullam
                                odit quia velit.</p>

                        </div>
                        <!--/Second column-->

                    </div>
                    <!--/First row-->

                </div>

            </section>
            <!--/Section: About-->

        </div>
        <!--/First container-->

        <!--Streak-->

        <div class="streak streak-photo streak-md" style="background-image: url('https://mdbootstrap.com/img/Others/food31.jpg');">
            <div class="flex-center mask rgba-black-strong" style="padding:100px 0px">
                <div class="text-center white-text">
                    <h2 class="h2-responsive mb-5">
                        <i class="fas fa-quote-left" aria-hidden="true"></i> Food for the body is not enough. There must be food for the soul.
                        <i class="fas fa-quote-right" aria-hidden="true"></i>
                    </h2>
                    <h5 class="text-center font-italic">~ Dorothy Day</h5>
                </div>
            </div>
        </div>

        <!--/Streak-->

        <!--Second container-->
        <div class="container">

            <!--Section: Menu intro-->
            <section id="intro" class="section mt-3 mb-4">

                <!--Section heading-->
                <div class="row mt-5 mb-4">
                    <div class="col-md-12 mb-3">
                        <div class="divider-new">
                            <h3 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn" data-wow-delay="0.2s">Discover our delights</h3>
                        </div>
                    </div>
                </div>

                <!--First row-->
                <div class="row smooth-scroll">

                    <!--First column-->
                    <div class="col-lg-6 col-md-12 wow fadeIn" data-wow-delay="0.4s">

                        <!--Title-->
                        <h4 class="mb-4 text-center">Different cuisines in one place</h4>

                        <!--Description-->
                        <p class="grey-text mb-4" align="justify">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                            deleniti atque corrupti quos dolores et quas molstias excepturi sint occaecati cupiditate non
                            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                            fuga.
                        </p>

                        <!--Menu button-->
                        <div class="text-center mb-2 mt-2">
                            <a href="{% url 'home:tryout' %}" data-offset="100" class="btn btn btn-outline-grey btn-rounded waves-effect">
                                <strong>Start Exploring</strong>
                            </a>
                        </div>

                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-lg-5 ml-auto col-md-12 mb-5 wow fadeIn" data-wow-delay="0.4s">

                        <!--Image-->
                        <img src="https://mdbootstrap.com/img/Others/food.jpg" alt="" class="z-depth-0 img-fluid">

                    </div>
                    <!--/Second column-->

                </div>
                <!--/First row-->

            </section>
            <!--/Section: Menu intro-->

        </div>

        <hr class="between-sections">

        <!--Section: Products-->
        <div class="container">

            <section class="section" id="specials">

                <!--Secion heading-->
                <div class="row mt-5 mb-4">
                    <div class="col-md-12 div-color-2">
                        <div class="divider-new">
                            <h3 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn" data-wow-delay="0.2s">Search by Time</h3>
                        </div>
                    </div>

                    <p class="grey-text text-center ml-3 mr-3 mt-1 mb-5">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                        similique.
                    </p>

                    <!--First row-->
                    <div class="row text-center mr-2 ml-2 mt-3">

                        <!--First column-->
                        <div class="col-lg-4 col-md-12 mb-4 wow fadeIn" data-wow-delay="0.4s">

                            <!--Card-->
                            <div class="card card-cascade wider">

                                <!--Card image-->
                                <div class="view view-cascade overlay zoom">
                                    <img src="https://mdbootstrap.com/img/Others/food6.jpg" class="img-fluid">
                                    <a href="#!">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                                <!--/Card image-->

                                <!--Card content-->
                                <div class="card-body card-body-cascade text-center">
                                    <!--Title-->
                                    <h4 class="card-title">
                                        <strong>Breakfast</strong>
                                    </h4>

                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->

                        </div>
                        <!--/First column-->

                        <!--Second column-->
                        <div class="col-lg-4 col-md-6 mb-4 wow fadeIn" data-wow-delay="0.4s">

                            <!--Card-->
                            <div class="card card-cascade wider">

                                <!--Card image-->
                                <div class="view view-cascade overlay zoom">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" class="img-fluid">
                                    <a href="#!">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                                <!--/Card image-->

                                <!--Card content-->
                                <div class="card-body card-body-cascade text-center">
                                    <!--Title-->
                                    <h4 class="card-title">
                                        <strong>Launches</strong>
                                    </h4>

                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->

                        </div>
                        <!--/Second column-->

                        <!--Third column-->
                        <div class="col-lg-4 col-md-6 mb-4 wow fadeIn" data-wow-delay="0.4s">

                            <!--Card-->
                            <div class="card card-cascade wider">

                                <!--Card image-->
                                <div class="view view-cascade overlay zoom">
                                    <img src="https://mdbootstrap.com/img/Others/food7.jpg" class="img-fluid">
                                    <a href="#!">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                                <!--/Card image-->

                                <!--Card content-->
                                <div class="card-body card-body-cascade text-center">
                                    <!--Title-->
                                    <h4 class="card-title">
                                        <strong>Desserts</strong>
                                    </h4>

                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->

                        </div>
                        <!--/Third column-->

                    </div>
                    <!--/First row-->

                </div>

            </section>

        </div>
        <!--/Section: Products-->

        <!--Streak-->
        <div class="streak streak-photo streak-long-2" style="background-image:url('https://mdbootstrap.com/img/Others/food5.jpg')">
            <div class="mask flex-center rgba-black-strong " style="padding:50px 0px">
                <div class="container">

                    <h2 class="text-center text-white mb-5 text-uppercase font-weight-bold wow fadeIn" data-wow-delay="0.2s">Great people trusted our services</h2>

                    <!--First row-->
                    <div class="row text-white text-center wow fadeIn" data-wow-delay="0.2s">

                        <!--First column-->
                        <div class="col-md-3 mb-2">
                            <h1 class="green-text mb-1 font-weight-bold py-3">+950</h1>
                            <p class="mb-3">Recipes</p>
                        </div>
                        <!--/First column-->

                        <!--Second column-->
                        <div class="col-md-3 mb-2">
                            <h1 class="green-text mb-1 font-weight-bold py-3">+150</h1>
                            <p class="mb-3">Chefs</p>
                        </div>
                        <!--/Second column-->

                        <!--Third column-->
                        <div class="col-md-3 mb-2">
                            <h1 class="green-text mb-1 font-weight-bold py-3">+85</h1>
                            <p class="mb-3">cuisines</p>
                        </div>
                        <!--/Third column-->

                        <!--Fourth column-->
                        <div class="col-md-3">
                            <h1 class="green-text mb-1 font-weight-bold py-3">+246</h1>
                            <p class="mb-3">Happy clients</p>

                        </div>
                        <!--/Fourth column-->

                    </div>
                    <!--/First row-->
                </div>
            </div>
        </div>
        <!--/Streak-->

        <!--Section: Menu-->
        <div class="container">
            <section class="section my-4" id="products">

                <!--Secion heading-->
                <div class="row mt-5 mb-4">
                    <div class="col-md-12 div-color-2">
                        <div class="divider-new">
                            <h3 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn" data-wow-delay="0.2s">Dishes & Calories</h3>
                        </div>
                    </div>
                </div>

                <!--Section description-->
                <p class="text-center grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate
                    esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.
                </p>

                <!--First row-->
                <div class="row wow fadeIn flex-center" data-wow-delay="0.4s">
                    <!--First column-->
                    <div class="col-lg-8 col-md-10">

                        <!--Menu-->
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="table-success">
                                        <th>#</th>
                                        <th>Dish</th>
                                        <th>Quantity</th>
                                        <th>Calories</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Tomato soup</td>
                                        <td>400 ml</td>
                                        <td>1000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Caesar salad</td>
                                        <td>150 g</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Beef steak</td>
                                        <td>200 g</td>
                                        <td>700</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Dumplings</td>
                                        <td>6 pieces</td>
                                        <td>1600</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Apple cake</td>
                                        <td>80 g</td>
                                        <td>400</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Menu-->

                    </div>
                    <!--/First column-->
                </div>
                <!--/First row-->

            </section>

        </div>
        <!--/Section: Menu-->
        <div class="container">
            <div class="row mt-5 mb-4">
                    <div class="col-md-12 div-color-2">
                        <div class="divider-new">
                        <h3 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn" data-wow-delay="0.2s">Different Cuisine</h3>
                    </div>
                </div>
            </div>
        </div>
        <!--Gallery-->
        <div class="container-fluid mt-5">

            <!--Section: Main portfolio-->
            <section id="portfolio" class="section">

                <!--First row-->
                <div class="row wow fadeIn" data-wow-delay="0.4s">

                    <!--First column-->
                    <div class="col-md-12">


                        <!--Full width lightbox-->
                        <div class="row">

                            <figure class="col-md-4">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg" data-size="1600x1067">
                                  <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg" class="img-fluid z-depth-1-half">
                                      <div class="mask flex-center rgba-grey-strong">
                                          <h3 class="white-text">French</h3>
                                      </div>
                                  </div>

                                </a>
                            </figure>

                            <figure class="col-md-4">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(48).jpg" data-size="1600x1067">
                                  <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(48).jpg" class="img-fluid z-depth-1-half">
                                      <div class="mask flex-center rgba-grey-strong">
                                          <h3 class="white-text">Mexican</h3>
                                      </div>
                                  </div>
                                </a>
                            </figure>

                            <figure class="col-md-4">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg" data-size="1600x1067">
                                  <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg" class="img-fluid z-depth-1-half">
                                      <div class="mask flex-center rgba-grey-strong">
                                          <h3 class="white-text">Italian</h3>
                                      </div>
                                  </div>
                                </a>

                            </figure>
                            <figure class="col-md-4">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(44).jpg" data-size="1600x1067">
                                  <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(44).jpg" class="img-fluid z-depth-1-half">
                                      <div class="mask flex-center rgba-grey-strong">
                                          <h3 class="white-text">Europian</h3>
                                      </div>
                                  </div>
                                </a>
                            </figure>

                            <figure class="col-md-4">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(41).jpg" data-size="1600x1067">
                                  <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(41).jpg" class="img-fluid z-depth-1-half">
                                      <div class="mask flex-center rgba-grey-strong">
                                          <h3 class="white-text">Continental</h3>
                                      </div>
                                  </div>

                                </a>
                            </figure>

                            <figure class="col-md-4">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(47).jpg" data-size="1600x1067">
                                  <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(47).jpg" class="img-fluid z-depth-1-half">
                                      <div class="mask flex-center rgba-grey-strong">
                                          <h3 class="white-text">Asian</h3>
                                      </div>
                                  </div>
                                </a>
                            </figure>

                        </div>
                        <!--/Full width lightbox-->

                    </div>
                    <!--/First column-->

                </div>
                <!--/First row-->

            </section>
            <!--/Section: Main portfolio-->

        </div>
        <!--/Gallery-->

        <!--Section: Testimonials v.3-->
        <section id="testimonials" class="section team-section mt-2 mb-6">
            <div class="container">
                <!--Secion heading-->
                <div class="row mt-5 mb-4">
                    <div class="col-md-12 div-color-2">
                        <div class="divider-new">
                            <h3 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn" data-wow-delay="0.2s">Our Users opinions</h3>
                        </div>
                    </div>
                    <!--/Secion heading-->

                    <!--Section description-->
                    <p class="text-center grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s">If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.
                    </p>

                    <!--First row-->
                    <div class="row text-center">

                        <!--First column-->
                        <div class="col-md-4 mb-4 wow fadeIn" data-wow-delay="0.4s">

                            <div class="testimonial">
                                <!--Avatar-->
                                <div class="avatar mx-auto mb-4">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%285%29.jpg" class="rounded-circle img-fluid z-depth-1-half">
                                </div>

                                <!--Content-->
                                <h4 class="font-weight-bold">Anna Deynah</h4>
                                <p>
                                    <i class="fas fa-quote-left "></i>One cannot think well, love well, sleep well, if one has not dined well
                                </p>

                                <!--Review-->
                                <div class="green-text">
                                    <i class="fas fa-star"> </i>
                                    <i class="fas fa-star"> </i>
                                    <i class="fas fa-star"> </i>
                                    <i class="fas fa-star"> </i>
                                    <i class="fas fa-star-half-alt"> </i>
                                </div>
                            </div>
                        </div>
                        <!--/First column-->

                        <!--Second column-->
                        <div class="col-md-4 mb-4 wow fadeIn" data-wow-delay="0.4s">
                            <div class="testimonial">
                                <!--Avatar-->
                                <div class="avatar mx-auto mb-4">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%289%29.jpg" class="rounded-circle img-fluid z-depth-1-half">
                                </div>

                                <!--Content-->
                                <h4 class="font-weight-bold">John Doe</h4>
                                <p>
                                    <i class="fas fa-quote-left"></i> There are people in the world so hungry, that God cannot appear to them except in the form of bread.</p>

                                <!--Review-->
                                <div class="green-text">
                                    <i class="fas fa-star"> </i>
                                    <i class="fas fa-star"> </i>
                                    <i class="fas fa-star"> </i>
                                    <i class="fas fa-star"> </i>
                                    <i class="fas fa-star"> </i>
                                </div>
                            </div>
                        </div>
                        <!--/Second column-->

                        <!--Third column-->
                        <div class="col-md-4 mb-4 wow fadeIn" data-wow-delay="0.4s">
                            <div class="testimonial">
                                <!--Avatar-->
                                <div class="avatar mx-auto mb-4">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%288%29.jpg" class="rounded-circle img-fluid z-depth-1-half">
                                </div>
                                <!--Content-->
                                <h4 class="font-weight-bold">Tom Smith</h4>
                                <p>
                                    <i class="fas fa-quote-left"></i> This above all: to thine own self be true,
And it must follow, as the night the day,
Thou canst not then be false to any man.</p>

                                <!--Review-->
                                <div class="green-text">
                                    <i class="fas fa-star"> </i>
                                    <i class="fas fa-star"> </i>
                                    <i class="fas fa-star"> </i>
                                    <i class="fas fa-star"> </i>
                                    <i class="far fa-star"> </i>
                                </div>

                            </div>
                        </div>
                        <!--/Third column-->

                    </div>
                    <!--/First row-->
                </div>

        </section>
        <!--/Section: Testimonials v.3-->

    </main>
    <!--/Main content-->
{% endblock %}

{% block script %}
    <script>
        //Animation init
        new WOW().init();

        //Modal
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });

    </script>
{% endblock %}
