#usname {
  color: #1f304c;
  font-size: 20px;
}

#ususername {
  color: #3ebeb6;
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

#usnumbers {
  font-size: 15px;
}

#usft {
  font-family: "Roboto Condensed", sans-serif;
}
