{% extends 'test.html' %}

{% block content %}
  <div class="container">
    <h5>Get History:</h5>
    <div class="card hoverable">
      <div class="card-content">
        <form action="{% url 'history' %}" method="post">
            {% csrf_token %}
            aadhar_number:<input type="number", name="aadhar_num">
          <!--  submit:<input type="submit", value="submit">-->
            <div class="card-content grey lighten-4">
              <button type="submit" name="button" class="waves-effect waves-light btn Center">Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
