{% extends 'test.html' %}

{% block content %}
  <div class="container">
    <h5>Bank Linking Status:</h5>
    <div class="card hoverable">
      <div class="card-content">
        <form class="" action='{% url "service:bank_linking" %}' method="post">
          {% csrf_token %}
          Aadhar Number: <input type="number" name="aadhar_num" id="Aadhar_num" maxlength="16" required="True">
          Security Code: {{ form }}
          <div class="card-content grey lighten-4">
            <button type="submit" name="button" class="waves-effect waves-light btn Center">Verify</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
