{% extends 'test.html' %}
{% block content%}
    <script>

      $(document).ready(function(){
        $('select').formSelect();
      });

    function check_enroll_id(element) {
    	$("#enroll_ok").hide();
    	$("#enroll_not").hide();
    	enroll_ID= $(element).val();
    	if (enroll_ID == "") {
    		return;
    	}

      $.ajax({
    		url : $(element).attr("data-url"),
    		data : {
    			"csrfmiddlewaretoken" : $(element).siblings("input[name='csrfmiddlewaretoken']" ).val(),
    			"enroll_ID":enroll_ID
    		},
    		method: "POST",
    		dataType : "json",
    		success : function (data) {
    			//console.log(data);
    			if (data.is_success) {
    				$("#enroll_ok").show();
    			} else {
    				$("#enroll_not").show();
    			}
    		}
    	});
    }


    </script>

    <script>
    function autofill1_check(element) {
    	pin_Code= $(element).val();
    	if (pin_Code == "") {
    		return;
    	}
    	$.ajax({
    		url : $(element).attr("data-url"),
    		data : {
    			"csrfmiddlewaretoken" : $(element).siblings("input[name='csrfmiddlewaretoken']" ).val(),
    			"pin_Code":pin_Code
    		},
    		method: "POST",
    		dataType : "json",
    		success : function (data) {
    			//console.log(data);
    			if (data.is_sucess) {
    				$("#city").val(data.Region);
    			}
    		}
    	});
    }
    </script>

  </head>
  <body>
    <div class="container">
      <h5>Register Complaint:</h5>
      <div class="row">
        <form class="col s12 card" action='{% url "service:autofill1" %}' method="post">
          {% csrf_token %}
              <div class="row">
                <div class="input-field col s6 m6 l6">
                  <input type="number" class="validate" name="enroll_ID" id="enroll_ID" required="True" maxlength="40" onkeyup="check_enroll_id(this);return false;" data-url="{% url 'service:check_enroll_id' %}"/>
                  <label for="last_name">enrollment ID</label>
                </div>

                <div class="col s3" style="color:green;display:none;margin-top: 4px;"  id="enroll_not">
                    <span class="">Enrollment ID exsits</span>
                </div>
                <div class="col s3" style="color: red;display:none; margin-top: 4px;" id="enroll_ok">
                    <span class="glyphicon glyphicon-ok"> Enrollment ID does'nt exsits</span>
                </div>


              </div>

              <div class="row">
                <div class="input-field col s6">
                  <input type="text" name="Name" id="Name" required="True">
                  <label for="last_name">Name</label>
                </div>

                <div class="input-field col s6">
                  <input type="email" name="Email" id="Email" required="True">
                  <label for="last_name">Email</label>
                </div>

                <div class="input-field col s6">
                  <input type="number" name="Phone_No" id="Phone_No" maxlength="10" required="True">
                  <label for="last_name">Phone Number</label>
                </div>

                <div class="input-field col s6">
                  <input type="number" class="validate" name="pin_Code" id="pin_Code" required="True" maxlength="6" onkeyup="autofill1_check(this);return false;" data-url="{% url 'service:autofill1_check' %}"/>
                  <label for="last_name">Pincode</label>
                </div>

                <div class="input-field col s6">
                  <input type="text" name="city" id="city"/>
                  <label for="last_name">City</label>
                </div>

                <div class="input-field col s6">
                  <select class="browser-default" name="select2" id="select2">
                  <option value="1">select</option>
                  <option value="2">Rude Operator</option>
                  <option value="3">Operator denying enrollment</option>
                  <option value="4">Ackwnoledgement receipt not provided</option>
                  <option value="5">Form not available</option>
                  <option value="6">Operator staff not available</option>
                  <option value="7">Inadequate facilities in premises</option>
                  <option value="8">Operator entering incorrect data despite being alerted</option>
                  <option value="9">Agency not available despite mentioning in UIDAI website</option>
                  <option value="10">Corruption</option>
          				<option value="11">Delivery issues</option>
                  </select>
              </div>

              <div class="input-field col s6">
                <input type="text" name="Remarks" id="Remarks" placeholder="Remarks" required="True">
                <label for="last_name">Remarks</label>
              </div>

              <div class="col s6">
                {{form}}
              </div>
                <button type="submit" name="button">Submit</button>
            </div>
          </form>
      </div>
    </div>
  {% endblock %}
