<!DOCTYPE html>
<html>

   <head>
      <title>Request Form</title>
   </head>

   <body>
      <form action="" method="post">
          Service:<input type = "text" name = "serice_name">
          Email:<input type = "email" name = "email_id"><br><br>

           <input type = "checkbox" name = "aadhar_num" value = "on"> Aadhar Number
           <input type = "checkbox" name = "first_name" value = "on"> First Name
           <input type = "checkbox" name = "middle_name" value = "on"> Middle Name
           <input type = "checkbox" name = "last_name" value = "on"> Last Name
           <input type = "checkbox" name = "gender" value = "on"> Sex
           <input type = "checkbox" name = "father_name" value = "on"> Father Name
           <input type = "checkbox" name = "mother_name" value = "on"> Mother Name
           <input type = "checkbox" name = "date_of_birth" value = "on"> Date of Birth
           <input type = "checkbox" name = "birth_place" value = "on"> Native
           <input type = "checkbox" name = "phone" value = "on"> Contact number
           <input type = "checkbox" name = "email" value = "on">EmailId
           <input type = "checkbox" name = "res_address" value = "on"> Address
           <input type = "checkbox" name = "pincode" value = "on"> Pincode
           <input type = "button" value="submit">
      </form>
   </body>
</html>