<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <form method="POST" action="{% url 'EwalletApp:Register' %}">
        First Name: <label><input type="text" placeholder="..."></label>
        Last Name : <label><input type="text" placeholder="..."></label>
        Phone No. : <label><input type="number" placeholder="10digit number"></label>
        1st Add.  : <label><input type="text"></label>
        2nd Add.  : <label><input type="text"></label>
        E-mail    : <label><input type="email"></label>
        password  : <label><input type="password" maxlength="10" id="password"></label>
        confirm-password : <label>
                                <input type="password" maxlength="10" id="confirm_password">
                                <span id='message'></span>
                           </label>
    </form>
</body>
</html>
<script type="text/javascript">
	$('#confirm_password').on('keyup', function () {
  		if ($('#password').val() == $('#confirm_password').val()) {
   			$('#message').html('Matching').css('color', 'green');
  		} else
    $('#message').html('Not Matching').css('color', 'red');
});
</script>