body {

  margin: 0;
  padding: 0;

}
.container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 300px; width: 350px;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
              0 5px 15px 0 rgba(0,0,0,0.08);
  text-align: center;
/*  padding: 15px 0;*/
}

span.milkspan {
  display: inline-block;
  padding: 10px 0;
  font-size: 25px;
}
form.milkform {               /* xxxxxxxxxx*/
  padding: 0 35px;
}
 button.milkinput[type="text"] {

  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  border: none;
  font-size: 14px;
  border-bottom: 2px solid #9FB1BC;
}
 button.milkinput[type="text"]:focus {
  outline: none;
  border-color: #3D348B;
}
 form.milkform label.milklabel {
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 2px;
  color: #9FB1BC;
}
form.milkform select.milkselect {
   width: 100%;

  text-transform: uppercase;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #F2F1F1;
  border-radius: 5px;
  background: #F2F1F1;
  color: #000000;
  cursor: pointer;
  transition: opacity .5s;}

  .date_input {
     width: 100%;

    text-transform: uppercase;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #F2F1F1;
    border-radius: 5px;
    background: #F2F1F1;
    color: #000000;
    cursor: pointer;
    transition: opacity .5s;}

button.milkinput[type="button"] {
  width: 100%;

  text-transform: uppercase;
  margin-top: 10px;                /* xxxxxxxxxx*/
  padding: 10px;         /* xxxxxxxxxx*/
  border: 2px solid #3D348B;
  border-radius: 5px;
  background: #3D348B;
  color: #FFF;
  cursor: pointer;
  transition: opacity .5s;
}



}
