h1 {
  text-align: center;
}

.container {
  margin: auto;
}

.grid td {
  width: 35px;
  height: 35px;
  background: rgba(40, 40, 44, 0.87);
  border: 2px solid white;
  text-align: center;
  float: left;
  font-size: 12px;
  margin: 5px;
  border-radius: 5px;
  color: white;
}

.grid td:hover {
  opacity: 0.7;
  cursor: pointer;
  background: green;
}

.reserved {
  background: green;
  color: #fff;
  display: inline-block;
}

.reserved::after {
  content: "";
}

.available::after {
  content: "";
}

.available {
  color: #333;
}

li {
  list-style: none;
}

.entryexit {
  height: 184px;
}
