{% extends 'shop/base.html' %}


{% block body %}
{#    <div style="background-color: #CDE7FF;">#}


{#<section id="story-freext" style="">#}
{#        <article>#}
{#                   <span>#}
{#                        Making your event more colorul#}
{#                        <br />#}
{#                         Get the best merch for your events !#}
{#                    </span>#}
{##}
{#        </article>#}
{#        <div class="parallax" data-velocity="-.3" ></div>#}
{#    </section>#}
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000" style="padding-bottom: 0px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
         <li data-target="#myCarousel" data-slide-to="2"></li>
         <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <section id="story-freext1">
        <article>
{#                   <span>#}
{#                        Making your event more colorful#}
{#                        <br />#}
{#                         Get the best merch for your events !#}
{#                    </span>#}

        </article>
        <div class="parallax" data-velocity="-.3" ></div>
    </section>
{#        <div class="carousel-caption">#}
{#          <h3>Chania</h3>#}
{#          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>#}
{#        </div>#}
      </div>

      <div class="item">
         <section id="story-freext2">
        <article style="padding-top: 180px">
                    <span >
                        Get the best merch for every event<br>
                         Enjoy shopping at EventGuide
                    </span>
        </article>
         <div class="parallax" data-velocity="-.1"></div>
        <div class="parallax" data-velocity="-.5" data-fit="125"></div>
    </section>
{#        <div class="carousel-caption">#}
{#          <h3>Chania</h3>#}
{#          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>#}
{#        </div>#}
      </div>
        <div class="item">
         <section id="story-freext3">
        <article style="padding-top: 180px">
                    <span >
                        Get the best merch for every event<br>
                         Enjoy shopping at EventGuide
                    </span>
        </article>
         <div class="parallax" data-velocity="-.1"></div>
        <div class="parallax" data-velocity="-.5" data-fit="125"></div>
    </section>
{#        <div class="carousel-caption">#}
{#          <h3>Chania</h3>#}
{#          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>#}
{#        </div>#}
      </div>
        <div class="item">
         <section id="story-freext4">
        <article style="padding-top: 180px">
                    <span >
                        Get the best merch for every event<br>
                         Enjoy shopping at Eventguide
                    </span>
        </article>
         <div class="parallax" data-velocity="-.1"></div>
        <div class="parallax" data-velocity="-.5" data-fit="125"></div>
    </section>
{#        <div class="carousel-caption">#}
{#          <h3>Chania</h3>#}
{#          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>#}
{#        </div>#}
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

    <div class="c1" style="padding-bottom: 115px">
    <div style="padding-top: 115px; padding-left: 100px">
    <p style="font-size: 18px;font-weight: 600;color: hsl(0, 0%, 28%); padding: 0; margin: 0">JUST THE BEST </p>
    <h2 style="font-size:48px; font-weight: 600; font-family: sans-serif; color: black;padding: 0; margin:0">Great stores.&nbspGreat choices.</h2>
        <div style="padding-left: 50px">
        <div class="img-hover-zoom" style="padding-top: 70px; float: left">

  <img src="/media/concert.png" alt="Another Image zoom-on-hover effect">
{#<div style=" position: absolute;#}
{#  bottom: 450px;#}
{#  left: 250px;"><p style="font-size: 18px">shop</p> </div>#}
</div>
         <div class="img-hover-zoom" style="padding-top: 70px; float: left; margin-left: 20px">
  <img src="/media/shop1.jpg" alt="Another Image zoom-on-hover effect">
</div>

         <div class="img-hover-zoom" style="padding-top: 70px; float: left; margin-left: 20px">
  <img src="/media/con1.jpg" alt="Another Image zoom-on-hover effect">
</div>
        </div>
    </div>

    </div>
    <section id="story-two" style="height: 500px" data-aos="fade" data-stellar-background-ratio="0.5">
        <article style="padding-top: 180px">
            <span>

                <h1 style="font-size: 70px">Shop With Us</h1>
                <p class="mb-5 lead" style="font-size: 30px">Get the best merch for every event. Enjoy shopping at EventBrite</p>
                <div>
<!--                  <a href="#" class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block">Shop Now</a>-->
<!--                  <a href="#" class="btn btn-white py-3 px-5 rounded-0 d-block d-sm-inline-block">Club Membership</a>-->

            </div></span>
        </article>
         <div class="parallax" data-velocity="-.1"></div>
        <div class="parallax" data-velocity="-.5" data-fit="125"></div>
    </section>

    <div style="padding-top: 115px; padding-left: 100px; background-color: gainsboro" data-aos="fade-left" data-aos-duration="2000">
       <p style="font-size: 48px;font-weight: 600;color: black; padding: 0; margin: 0" >Must have it?&nbspWe've got it! </p>
    </div>
    <div data-aos="fade-right" style=" padding-left: 100px"  data-aos-duration="2000">
     <h2 style="font-size:40px; font-weight: 600; font-family: sans-serif; color: hsl(0, 0%, 28%);padding: 0; margin:0">GET THE BEST MERCH FOR YOUR EVENTS</h2>

    </div>

        <div style="background-color: gainsboro; padding-top: 100px">
        {% for event in event_list %}

            <div class="container" style="padding-top: 0px; padding-bottom: 0px">
                <p style="font-size:70px; font-weight: 600; font-family: sans-serif; color: hsl(0, 0%, 8%);">{{ event.name }}</p>
                <hr style="border: 1px solid white; " size="5">
            {% for product in event.product.all %}
                <div class="col-lg-4 col-md-6 mb-5 " style="padding:30px; ">
                  <div class="panel panel-default text-center" style=" padding-left:3px; padding-right:3px; background-color: gainsboro; ">
{#                    <div class="panel-heading">#}
{#                      <h2>{{ medicine.name }}</h2>#}
{#                    </div>#}
                    <div class="panel-body" style="padding-bottom: 0">
                    <div class="conti" data-aos="zoom-in-up">
                            <img src="{{ product.image.url }}" width="300px" height="285px" class="image adjust" >
                            <div class="overlay">
                                <div class="texting">

                            <p></p><br>
{#                            <p >Prescription :{% if medicine.pres_req == "yes" %}#}
{#                                Required#}
{#                                {% else%}#}
{#                                Not Required#}
{#                            {% endif %}</p><br>#}
{#                                <form action="{{ product.description }}" target="_blank">#}
{#                                    <button type="submit" target="_blank"  class="btn1"><span style="color: black">Details</span></button></h5>#}
{#                                </form>#}
{#                                    <span style="color: white">Details - {{ product.description }}</span>#}
                                    <span style="color: white; font-size: 30px">{{ product.name }}</span><br>
                                    <span style="color: white;">Price  -  Rs {{ product.price }}</span>
                                </div>
                            </div>
                    </div>
{#                        <p>{{ product.name }}</p>#}
                        <br>
{#                    <h2 style="letter-spacing: 0; font-size: 25px ; color: #060E2F; padding-bottom: 0px" id="product_name">{{ event.name }} - {{ product.name }}</h2>#}
{#                    <p><span style="letter-spacing: 0; font-size: 20px ; color: #060E2F; padding-bottom: 0px">Price  -  Rs {{ product.price }}</span> </p>#}
{#                        <i class="fas fa-star" style="font-size: 20px; color:#f89d13;"></i>&nbsp;5.0#}
{#                        <i class="fas fa-heart" style="font-size: 20px;color:#f23a2e;  padding-left: 100px"></i>&nbsp;36#}
                    </div>
                    <div class="panel-footer" style="background-color: gainsboro; padding-top: 0px">
                            <form action="{% url 'shop:add_to_cart' product.id %}" style="padding-top: 10px">
                            <input type="number" name ="quantity" value="" required placeholder="Quantity" min="0" style="width: 100px; text-align: center; color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <!--<span class="glyphicon glyphicon-shopping-cart">--><button type="submit" class="btn" onclick="myFunction()" style="color: #ffffff; background-color: black; border-radius: 0">Add to Cart</button><!-- </span>-->
                            </form>

                    </div>
                  </div>
                </div>
            {% empty %}
            <h3>No products are added</h3>
        {% endfor %}
            </div>
            <br>
            {% empty %}
            <h3>you've not registered for any events</h3>
        {% endfor %}
        </div>



{% endblock %}


