{% extends 'shop/base.html' %}

{% block body %}
    <br><br>
    <div class="container">
      <h1>Log in</h1>
    <br>
      <form class="site-form" action="{% url 'shop:login' %}" method="post">
          {% csrf_token %}
          {{ form }}
          {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
          {% endif %}
          <input type="submit" value="Login">
      </form>
    </div>
    <br><br><br><br><br><br><br>
{% endblock %}
