{% extends 'shop/base.html' %}
<title>{% block title %}order Details{% endblock %}</title>

{% block body %}
<div class="" style="padding-top: 100px; padding-bottom: 100px; padding-left: 150px; padding-right: 150px; background-color: gainsboro ">
<br>

<div class="row" style="background-color: white; padding-left:50px; padding-right:50px; padding-top: 40px; padding-bottom: 40px">

        <div class="col-md-12 order-md-1">
{#         <p style="color:#1D466A; font-size: 25px">{{ order.user.first_name }}</p>#}
            <p style="color:#1D466A; font-size: 35px; font-weight: bold; text-align: center; letter-spacing: 2px">Enter your Billing Details</p>
            <hr style="border: 1px solid #afd9ee;  width: 150px; " size="5">
{#            <p style="color:#1D466A; font-size: 35px; text-align: center; letter-spacing: 2px">_______</p>#}
            <br>
{#            {% for item in order.get_cart_items %}#}
{##}
{#                <h2>{{ item.medicine.name }}  ({{ item.medicine.pres_req }})</h2>#}
{##}
{##}
{#            {%  endfor %}#}


                <form class="needs-validation" action="{% url 'shop:checkout' order.id %}">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Enter name" value="" required>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Enter last name" value="" required>
                      </div>
                    </div>
                    <br>
                    <div class="mb-3">
                      <label for="email">Email </label>
                      <input type="email" class="form-control" name="email" placeholder="you@example.com" required>
                      <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                      </div>
                     <div class="mb-3">
                     <br>
{#                         {% for item in order.get_cart_items %}#}
{##}
{#                            {% if item.medicine.pres_req == "yes" %}#}
{#                                <p style="color:#1D466A; font-size: 25px; font-weight: bold">Note:  Prescription is required for {{ item.product.name }}</p>#}
{#                                 <input type="file" name="pic" accept="image/*" required>#}
{#                            {% endif %}#}
{##}
{##}
{#                         {% endfor %}#}
                     </div>
                    </div>
                    <br>
                    <div class="mb-3">
                      <label for="address">Address</label>
                      <input type="text" class="form-control" name="address" placeholder="address" required>
                      <div class="invalid-feedback">
                        Please enter your shipping address.
                      </div>
                    </div>
                      <br>
                    <div class="mb-3">
                      <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                      <input type="text" class="form-control" id="address2" placeholder="">
                    </div>
                    <br>
                      <div class="row">
                      <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <select class="custom-select d-block w-100" id="state" required>
                          <option value="">Choose...</option>
                          <option>Andhra Pradesh</option>
                            <option>Rajasthan</option>
                            <option>Assam</option>
                            <option>Bihar</option>
                            <option>West Bengal</option>
                            <option>Uttar Pradesh</option>
                            <option>Delhi</option>
                            <option>Goa</option>
                            <option>Gujrat</option>
                            <option>Haryana</option>
                            <option>Maharashtra</option>
                            <option>Tamil Nadu</option>
                        </select>

                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="pin">pin</label>
                        <input type="text" class="form-control" id="pin" placeholder="" required>
                        <div class="invalid-feedback">
                          Pin code required.
                        </div>
                      </div>
                      </div>
                        <br>
                     <p style="color:#1D466A; font-size: 35px; font-weight: bold; text-align: center; letter-spacing: 2px">Payment</p>
               <hr style="border: 1px solid #afd9ee;  width: 70px; " size="5">
                                <br>
                    <div class="d-block my-3">
                      <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                        <label class="custom-control-label" for="credit">Credit card</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="debit">Debit card</label>
                      </div>
{#                      <div class="custom-control custom-radio">#}
{#                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>#}
{#                        <label class="custom-control-label" for="paypal">Paypal</label>#}
{#                      </div>#}
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required>
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                          Name on card is required
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required>
                        <div class="invalid-feedback">
                          Credit card number is required
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <input type="date" class="form-control" id="cc-expiration" placeholder="" required>
                        <div class="invalid-feedback">
                          Expiration date required
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="cc-expiration">CVV</label>
                        <input type="number" class="form-control" id="cc-cvv" placeholder="" required maxlength="3" min="0" oninput="this.value=this.value.slice(0,this.maxLength)">
                        <div class="invalid-feedback">
                          Security code required
                        </div>
                      </div>
                    </div>
                    <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
          </form>
        </div>
</div>
</div>


{% endblock %}