<!doctype html>
<html>

<!-- Mirrored from amovie.gozha.net/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Mar 2019 13:49:26 GMT -->
<head>
	<!-- Basic Page Needs -->
        <meta charset="utf-8">
        <title>AMovie - 404</title>
        <meta name="description" content="A Template by Gozha.net">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="Gozha.net">

    <!-- Mobile Specific Metas-->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">

    <!-- Fonts -->
        <!-- Font awesome - icon font -->
        <link href="../netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Stylesheets -->

        <!-- Custom -->
        <link href="css/style3860.css?v=1" rel="stylesheet" />


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    	<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wrapper">
        <div class="error-wrapper">
            <a href='index-2.html' class="logo logo--dark">
                <img alt='logo' src="images/logo-dark.png">
                <p class="slogan--dark">fun to search, fun to watch</p>
            </a>

            <div class="error">
                <img alt='' src='images/error.png' class="error__image">
                <h1 class="error__text">sorry, but page can’t be found</h1>
                <a href="index-2.html" class="btn btn-md btn--warning">return to homepage</a>
            </div>
        </div>

        <div class="copy-bottom">
            <p class="copy">&copy; A.Movie, 2013. All rights reserved. Done by Olia Gozha</p>
        </div>

    </div>

</body>

<!-- Mirrored from amovie.gozha.net/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Mar 2019 13:49:27 GMT -->
</html>
