<!DOCTYPE html>
{% load crispy_forms_tags %}
<head></head>
<body>

      <div class="w3-container w3-content" style="max-width:600px;margin-top:150px;margin-left: 350px;padding:10px; background-color:white; ">
        <div class="w3-col m7">
      <h1>Change Your Password</h1>
      <div>
          <form method="post">
                {% csrf_token %}
                {{ form|crispy }}<br>
                <button type="submit">Submit</button>
          </form>
          <br>
      </div>
      </div>
      </div>
</body>