<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

</head>
<body>
<div class="container">
    <br>


<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	<a href="" class="float-right btn btn-outline-primary mt-1">Log in</a>
	<h4 class="card-title mt-2">Sign up</h4>
</header>
<article class="card-body">
<form method="post">


    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.first_name|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.last_name|as_crispy_field }}
      </div>
    </div>
    {{ form.email|as_crispy_field }}
    {{ form.username|as_crispy_field }}
    {{ form.password1|as_crispy_field }}
    {{ form.password2|as_crispy_field }}
    {{ form.address|as_crispy_field }}
    <div class="form-row">
      <div class="form-group col-md-5 mb-0">
        {{ form.city|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.country|as_crispy_field }}
      </div>
      <div class="form-group col-md-3 mb-0">
        {{ form.pincode|as_crispy_field }}
      </div>

    </div>
    {{ form.phone_number|as_crispy_field }}
    {{ form.picture|as_crispy_field }}
        <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
    </div>
    <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>
</form>
</article> <div class="border-top card-body text-center">Have an account? <a href="">Log In</a></div>
</div>
</div>
</div>


</div>


<br><br>

</body>
</html>