body
{
	background: #eee;
	font-size: 13px;
	font-family: 'Lato','Open Sans';
}
.header_container
{
	background: #6AB7C6;	
}
.header_container h1
{
	color: white;
}
.logo
{	
	display: inline;
}
.navbar-default
{
	margin:0;
	background: #fff;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.navbar-default .navbar-collapse
{
	padding-left: 2px;
}
.navbar-default ul li a
{
	font-size: 16px;
}
.carousel-caption
{
	bottom: 0;
	left: 0;
	padding-bottom: 6px;	
	width: 100%;
}
.carousel-caption h3
{
	color:#000;
	background: #fff;
	opacity: .7;
	font-weight: bolder;
	margin-bottom: 0;
	width: 100%;
}

img.slider_image
{
	width: 100%;
	height: 480px !important;
}

.my_slider 
{
	min-height: 230px !important;
}
.my_slider li
{
	min-height: 220px !important;
}
.my_slider img
{
	height: 320px;
	width: 240px;
}
.grid
{
	padding:2px;	
}
.grid .grid_content
{
	background: #fff;
	padding:12px;
	text-align: justify;
}
.column-title 
{
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
  font-family: Arial !important;
}
.column-title:after 
{
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #45aed6;
}

.column-title.in_center
{
  text-align: center;
}

.column-title.in_center:after 
{
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 25%;
  width: 50%;
  border-bottom: 1px solid #45aed6;
}

.content_grid img
{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.ac_message
{
	height: 350px !important;
	overflow:hidden;
}
.ac_message img
{
	height: 170px;
	width: 170px;
	float:left;
	margin-right: 10px;
}
.hotline
{
	min-width: 335px;
}
#marqueecontainer
{
	position: relative;
	height:300px; /*marquee height */
	background-color: white;
	overflow: hidden;
	padding: 2px;
	padding-left: 4px;
}
#vmarquee
{
	position: absolute;
}
.notice-ul
{
	list-style: none;
	margin:0;
	padding:0;
}
.notice-ul li
{
	margin-bottom: 20px;
	border-bottom:1px solid #eee;
	line-height: 30px;
	font-weight: bold;
}
.notice-ul li h3
{
	display: inline;
	font-size: 22px;
}
.links li
{
	padding-bottom: 7px;
}
.links a
{
	color:#000;
	padding-left: 7px;
}
.links a:hover
{
	color:#003366;
	font-weight: bold;
}
.useful-ul,.tag-ul,.contact-ul,.social-ul
{
	padding-left:15px;
}
.useful-ul li,.tag-ul li,.contact-ul li,.social-ul li
{
	padding-bottom:10px;
}
.useful-ul li i,.tag-ul li i,.contact-ul li i,.social-ul li i
{
	padding-right:5px;
}
.contact-ul span
{
	padding-left: 22px;
}
.social-ul li
{
	display: inline;
}
.social-ul li a img
{
	width: 30px;
	margin-right: 7px;
	border:1px solid #000;
}
.social-ul li a img:hover
{
	border:1px solid #555;
}
.useful-ul li a,.tag-ul li a
{
	color:#fff !important;
}

a.read-more
{
	margin-top:7px;
	margin-bottom:7px;
	color:#0269C2;
	font-weight: bold;
}
a.read-more:hover
{
	color:orange;
}
.footer-item-title
{
	padding: 15px 0 7px 0;
	font-size: 16px;
	font-weight: bold;
	color:#FBB03B;
}
.footer a
{
	color: #fff !important;
}
.footer a:hover
{
  color:orange !important;
  cursor: pointer;
  text-decoration: none;
}
.copyright-row
{
  background:#222;
  color:#fff !important;
  border-top: 1px solid #fff;
  padding:10px 0;
}



/*book mythumbnail css*/
.mythumbnail-container
{
	padding:0 7px 7px 0 !important;
	/*min-width: 270px !important;*/
	/*max-width: 350px !important;*/
}
.mythumbnail
{
	background: #fff;
	font-weight: bold;
	text-align: center;
    padding: 20px 0 20px 0 !important;
    margin: 0;
    padding: 5px;
    color:#333;
    border:1px solid transparent;
    /*min-height: 420px;*/
}
.mythumbnail:hover
{	
	background: #fffddd;
	border:1px solid #ccc;
}
.mythumbnail img
{
	float: none !important;
	border:none;
	padding:5px;
	display: block;
	margin:auto;

}
.mythumbnail-title h5
{
	color:#067BB0;
}

.mythumbnail-icon
{
	margin-bottom: 7px;
}
.mythumbnail-phone
{
	font-weight: bold;
	/*font-size: 110%;*/
	text-align: center;
	color:#00A99D;
}

.before_flip
{
	/*z-index: 10;	*/
	cursor: pointer;
}

.flip_overlay
{
	background:#BA8D4A;
	color:#fff;
	top:0; 
	left:0;
	height:100%;
	width:98%;
	position:absolute;
	/*z-index:100;*/
	padding:15px;
	line-height: 30px;
	opacity: .85;
	font-size: 110%;
	pointer-events: none
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
/*book mythumbnail css*/







/*universal css*/
.green
{
	color:#3DBD99 !important;
}
.orange
{
	color:#E57300 !important;
}
.red
{
	color:#F50404 !important ;
}
.gray
{
	color:#aaa !important;
}
.blue
{
	color:#2C9BB3 !important;
}
.white 
{
    color: #fff;
}
.border_black
{
	border:1px solid #333 !important;
}
.border_gray
{
	border:1px solid #ccc !important;
}
.border_red
{
	border:1px solid red !important; 
}
.border_top_blue
{
	border-top:4px solid #0097D6;
}
.border_top_green
{
	border-top:4px solid #3DBD99;
}
.background_highlight
{
	background: #fffded !important;
}
.background_white
{
	background: #fff !important;
}
.background_darkblue
{
	background: #002240;
}
.background_darkgreen
{
	background: #002914;
}
.background_lightgreen
{
	background: #499B37;
}
.no_margin
{
	margin:0 !important;
}
.no_padding
{
	padding:0 !important;

}
.no_radius
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
/*universal css*/

/*bootstrap enhancement*/
.row-centered 
{
    text-align:center;
}
.col-centered 
{
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
/*bootstrap enhancement*/



/*bootstrap overwrite*/
input[type="text"],input[type="password"],input[type="email"],input[type="date"],select
{
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	height: 40px !important;
	font-size: 14px;
}
.btn,.alert,.well,textarea
{
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	/*background: #6AB7C6;*/
	font-weight: bold;
}
/*bootstrap overwrite*/