{% extends 'authentication/base.html' %}
{% block content %}
{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}

<div style="background-image: url({% static 'authentication/images/middle-cover.jpg' %});padding-bottom: 255px;">
    <center><span class="login100-form-title p-t-100 p-b-30" style="background: #3c96ff; background: -webkit-linear-gradient(45deg, #2dfbff, #3c96ff);
						-webkit-background-clip: text;-webkit-text-fill-color: transparent; font-size:30px;">
      Password Reset
    </span>
        <h3 style="padding: 15px 10px 30px;"> Forgotten your password? Don't worry!! Enter your email address below, and we'll email the instructions for setting a new one. </h3>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        {{ field.label_tag }}&nbsp;&nbsp;
          {{ field }}
          <br>
      {% endfor %}
        <p class="p-t-20"><button type="submit" class="btn btn-primary" style="font-size: 11px;padding:8px;border-radius: 5px">Reset Password</button></p>
    </form>
</center>
</div>
{% endblock %}