{% extends 'authentication/base.html' %}
{% block content %}
{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}

<div style="background-image: url({% static 'authentication/images/middle-cover.jpg' %});">
<div style="height:640px;padding: 20px"><center>
        <h3 class="p-t-250">We've emailed you instructions for setting your new password, if an account exists with the email you entered.
    You should receive the email shortly.</h3><br>
        <h3>If you don't receive an email, please make sure you've entered the email id you registered with, and check your spam folder.
        </h3>
    </center>
</div></div>
{% endblock %}