{% extends 'authentication/base.html' %}
{% block content %}
{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}

<div style="background-image: url({% static 'authentication/images/middle-cover.jpg' %});padding-bottom: 190px;">
    <center><span class="login100-form-title p-t-100 p-b-30" style="background: #3c96ff; background: -webkit-linear-gradient(45deg, #2dfbff, #3c96ff);
						-webkit-background-clip: text;-webkit-text-fill-color: transparent; font-size:30px;">
      Password Reset
    </span>
    {% if validlink %}
      <form method="post">
          {% csrf_token %}
         {% for field in form %}
            {{ field.label_tag }}
             <div style="margin-left: 5px">{{ field }}</div>
              <br><br>
         {% for error in field.errors %}
            <p style="font-size: 15px; padding-left:15px; color: red">{{ error }}</p>
         {% endfor %}
     {% endfor %}
          <button type="submit" class="btn btn-primary" style="font-size: 11px;padding:8px;border-radius: 5px">Change Password</button>
      </form></center>
    {% else %}
    <center><h3 style="padding: 15px 10px 250px;">The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.</h3>
    </center>
  {% endif %}


</div>
{% endblock %}