



<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


   <div class='container-fluid'>
     <div class='row'>
      <div class='col-sm-12 col-md-7'>
        <div class='panel panel-default'>
          <div class='panel-body'>
          <form class="form-horizontal" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>   
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</form>