aioredis==1.2.0
asgiref==3.1.2
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.3.3
Automat==0.7.0
certifi==2019.3.9
channels==2.2.0
channels-redis==2.4.0
chardet==3.0.4
constantly==15.1.0
cycler==0.10.0
daphne==2.3.0
defusedxml==0.6.0
Django==2.2
django-jinja==2.4.1
django-jinja-bootstrap-form==4.2.3
djangorestframework==3.9.2
hiredis==1.0.0
hyperlink==19.0.0
idna==2.8
igdb-api-python==1.0
incremental==17.5.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.1
matplotlib==3.0.3
msgpack==0.6.1
numpy==1.16.2
oauthlib==3.0.1
PyHamcrest==1.9.0
PyJWT==2.4.0
pyparsing==2.3.1
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0
SQLite3Database==0.2.0
sqlparse==0.3.0
Twisted==19.2.0
txaio==18.8.1
urllib3==1.24.1
zope.interface==4.6.0
