{% extends 'home/base.html' %}
  {% load static from staticfiles %}
{% block extrahead%}
<style>

   .reservation-area {
      background-image: url('{% static 'home/reservation-bg.jpg'%}'');
    }

    .food-area {
        background-image: url('{% static 'home/food-bg.png'%}');
      }
  </style>
{% endblock %}
{% block body %}

<div style="width:100%;height:50px">

</div>

<div class="reservation-area section-padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="img-heading-text">Natural ingredients and testy food</h2>
                <h4 class="mt-4 img-text">some trendy and popular courses offerd</h4>
                <a href="" class="template-btn mt-4">search</a>
            </div>
        </div>
    </div>
</div>

<div class="container sec-card">

  <h2 class="text-center text-heading">RECIPES</h2>


    <div class="row" style="">
      <div class="clearfix" >

          {% for name,link,id in data %}
          <div class="card m-2 post">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top img-post" src={{ link }} alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Button -->

          <button type="button" class="btn btn-yellow btn-circle btn-floating ml-auto mr-4 lighten-3" >
            <i class="fa fa-heart"></i>
          </button>
<!--
          <button type="button" class="btn btn-yellow btn-circle btn-floating ml-auto mr-4 lighten-3" style="background:white!important">
            <i class="fa fa-heart"></i>
          </button> -->

          <div class="card-body  mx-auto p-0 overflow-hidden post-txt">
            <h4 class="card-title text-center"><a href='{% url 'home:recipe' id %}' class="green-text">{{name}}</h4>
          </div>
        </div>
        {% endfor %}



        </div>
      </div>
    </div>


</div>



<div class="container sec-card">

  <h2 class="text-center text-heading">TOP RECIPES</h2>

  <div class="row">
    <div class="card-deck">
      <!-- first Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="img/food.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Button -->
        <!-- <div class="card-img-overlay"> -->

          <a class="btn btn-danger btn-circle btn-floating ml-auto mr-4 lighten-3"  >
            <i class="fa fa-heart"></i>
          </a>

        <!-- </div> -->
        <!-- Card content -->
        <div class="card-body  mx-auto p-0">
          <!-- Title -->
          <h4 class="card-title mx-auto p-0 txt">Card title</h4>
        </div>
      </div>
      <!-- / first Card -->

      <!-- second Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="img/food.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Button -->
        <button type="button" class="btn btn-danger btn-circle btn-floating ml-auto mr-4 lighten-3">
          <i class="fa fa-heart"></i>
        </button>

        <!-- Card content -->
        <div class="card-body  mx-auto p-0">

          <!-- Title -->
          <h4 class="card-title txt">Card title</h4>

        </div>


      </div>
      <!-- / second Card -->

      <!-- thrid Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="img/food.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Button -->

        <button type="button" class="btn btn-danger btn-circle btn-floating ml-auto mr-4 lighten-3">
          <i class="fa fa-heart"></i>
        </button>

        <div class="card-body mx-auto p-0">
          <h4 class="card-title txt">Card title</h4>
        </div>
      </div>
      <!-- / thrid Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="img/food.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Button -->

        <button type="button" class="btn btn-danger btn-circle btn-floating ml-auto mr-4 lighten-3">
          <i class="fa fa-heart"></i>
        </button>

        <div class="card-body  mx-auto p-0">
          <h4 class="card-title txt">Card title</h4>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container sec-card">

  <h2 class="text-center text-heading">RECOMMENDED FOR YOU</h2>

  <div class="row">
    <div class="card-deck">
      <!-- first Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="img/food.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Button -->
        <!-- <div class="card-img-overlay"> -->

          <a class="btn btn-danger btn-circle btn-floating ml-auto mr-4 lighten-3"  >
            <i class="fa fa-heart"></i>
          </a>

        <!-- </div> -->
        <!-- Card content -->
        <div class="card-body  mx-auto p-0">
          <!-- Title -->
          <h4 class="card-title mx-auto p-0 txt">Card title</h4>
        </div>
      </div>
      <!-- / first Card -->

      <!-- second Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="img/food.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Button -->
        <button type="button" class="btn btn-danger btn-circle btn-floating ml-auto mr-4 lighten-3">
          <i class="fa fa-heart"></i>
        </button>

        <!-- Card content -->
        <div class="card-body  mx-auto p-0">

          <!-- Title -->
          <h4 class="card-title txt">Card title</h4>

        </div>


      </div>
      <!-- / second Card -->

      <!-- thrid Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="img/food.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Button -->

        <button type="button" class="btn btn-danger btn-circle btn-floating ml-auto mr-4 lighten-3">
          <i class="fa fa-heart"></i>
        </button>

        <div class="card-body mx-auto p-0">
          <h4 class="card-title txt">Card title</h4>
        </div>
      </div>
      <!-- / thrid Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="img/food.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Button -->

        <button type="button" class="btn btn-danger btn-circle btn-floating ml-auto mr-4 lighten-3">
          <i class="fa fa-heart"></i>
        </button>
        <!--
        <a id="heart" title="Like me!" class="ml-auto mr-4 "></a>
        -->


        <div class="card-body  mx-auto p-0">
          <h4 class="card-title txt">Card title</h4>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container sec-card">

  <h2 class="text-center text-heading">TRENDING</h2>

  <div class="row">
    <div class="card-deck">
      <!-- first Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="img/food.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Button -->
        <!-- <div class="card-img-overlay"> -->

          <a class="btn btn-danger btn-circle btn-floating ml-auto mr-4 lighten-3"  >
            <i class="fa fa-heart"></i>
          </a>

        <!-- </div> -->
        <!-- Card content -->
        <div class="card-body  mx-auto p-0">
          <!-- Title -->
          <h4 class="card-title mx-auto p-0 txt">Card title</h4>
        </div>
      </div>
      <!-- / first Card -->

      <!-- second Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="img/food.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Button -->
        <button type="button" class="btn btn-danger btn-circle btn-floating ml-auto mr-4 lighten-3">
          <i class="fa fa-heart"></i>
        </button>

        <!-- Card content -->
        <div class="card-body  mx-auto p-0">

          <!-- Title -->
          <h4 class="card-title txt">Card title</h4>

        </div>


      </div>
      <!-- / second Card -->

      <!-- thrid Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="img/food.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Button -->

        <button type="button" class="btn btn-danger btn-circle btn-floating ml-auto mr-4 lighten-3">
          <i class="fa fa-heart"></i>
        </button>

        <div class="card-body mx-auto p-0">
          <h4 class="card-title txt">Card title</h4>
        </div>
      </div>
      <!-- / thrid Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="img/food.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Button -->

        <button type="button" class="btn btn-danger btn-circle btn-floating ml-auto mr-4 lighten-3">
          <i class="fa fa-heart"></i>
        </button>
        <!--
        <a id="heart" title="Like me!" class="ml-auto mr-4 "></a>
        -->


        <div class="card-body  mx-auto p-0">
          <h4 class="card-title txt">Card title</h4>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
