  {% extends 'index.html' %}
{% load static %}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block slidecss %}

  <style>
        .card{
          margin: 5rem;
          display: inline-block;
          height:250px;
          width: 500px;
          position:relative;
          border:none;
        }
        a{
          /* font-family: poppins; */
          font-size: 20px;
          color: #18a3bf;
        }
        form{
          padding:10px;
          margin: 0.1rem;
        }
        form a{
          font-family:sans serif;
          color:#18a3bf;
        }
        .form{
            background-color: #fefefe;
            margin: 4% auto 15% auto;
            border: 1px solid #888;
            width: 500px;
            padding-bottom: 30px;
        }
        .modal {
            display:none;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }
        .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
        }
        .close:hover,.close:focus {
            color: #57cbcc;
            cursor: pointer;
        }

        input[type=number]{
            position: center;
            padding: 12px 20px;
            margin: 8px 26px;
            display: inline-block;
            border-radius: 10%;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size:16px;
        }
        .image{
            background-image: url("{% static 'images/banner2.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
        }
  </style>
  {% endblock slidecss %}

  {% block body_block %}
    <div class="image" style="width:1530px;height:300px;"><div style="color: white;font-size: 50px;font-family: poppins;position: absolute;left:35%;top:30%">Cab History</div></div>

  {% for item in cartrip %}
        {% if item.booking_Details.user_booked == u %}
        <div class="card" style="border:1px solid black">
        <div class="card-body">
        <b>From Date:</b>&nbsp{{ item.booking_Details.from_date }}<br>
        <b>To Date:</b>&nbsp{{ item.booking_Details.to_date }}<br>
        <b>Car Location</b>:&nbsp{{ item.booking_Details.car_location }}<br>
        <b>To Location</b>:&nbsp{{ item.booking_Details.to_location }}<br>
        <b>User</b>:&nbsp{{ item.car_rented.user_rented }}
        <br>
        <button onclick="document.getElementById('modal-wrapper').style.display='block'" class="btn btn-main" style="background-color:#57cbcc">Give Rating</button>
        <div id="modal-wrapper" class="modal">
             <form class="form" method="post" action="{% url 'rentedcars:endcabtrip' item.auto_increment_id %}">
                <div>
                    <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
                </div>
                <div class="container">
                  <h3 style="color:#18a3bf">Give Rating</h3>
                    {% csrf_token %}

                    <p style="font-family: sans-serif;" >Rating</p>
                    <input type="number" name="rating" placeholder="Rating"><br>


                    <button style="background-color: #57cbcc;width:100px;height:30px;" type="submit" class="btn btn-success">End Trip</button>
                    </div>
            </form>
            </div>
        <a href="{% url 'rentedcars:trial' item.auto_increment_id %}" class="btn btn-info">View More</a>
      </div>


        {% endif %}

      {% endfor %}
  </div>

      <script>
          // If user clicks anywhere outside of the modal, Modal will close

          var modal = document.getElementById('modal-wrapper');

          window.onclick = function(event) {

            if (event.target == modal) {
                modal.style.display = "none";
            }
          }


      </script>
  {% endblock body_block %}
