{% extends 'nav.html' %}
{% block content %}
{% load staticfiles %}
			<!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Package Details
							</h1>
							<p class="text-white link-nav"><a href="index.html">package </a>  <span class="fa fa-arrow-right"></span>  <a href="about.html">package details</a></p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start about-info Area -->
			<section class="about-info-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							{% for i in Images %}
							<img class="img-fluid" src="{{ i.img.url }}" style="width:100%;height:auto" ><hr>
							{% endfor %}
						</div>

						<div class="col-lg-6">

                            {% for details in package_details %}

                            <p class="primary-btn">Day - {{ details.Day }}</p><br>
                            <p class="newbox">Title -{{ details.Title }}</p>
                            <p>Description - {{ details.Description }}</p>
							<hr>
							<br>
                            {% endfor %}

							<p class="newbox">Activities</p><br>
							{% for activity in Activity %}
							<p> {{ activity.Activity }}</p><br>
							{% endfor%}
							<a class="primary-btn" href="{% url 'package:book_package1' pk=Package_Id %}" >Book Package Now</a>
                        </div>
					</div>
				</div>
			</section>
			<!-- End about-info Area -->


			<!-- Start other-issue Area -->
			<section class="other-issue-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-70 col-lg-9">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Other issues we can help you with</h1>
		                        <p>We all live in an age that belongs to the young at heart. Life that is.</p>
		                    </div>
		                </div>
		            </div>
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="single-other-issue">
								<div class="thumb">
									<img class="img-fluid" src="{% static 'img/o1.jpg' %}" alt="">
								</div>
								<a href="#">
									<h4>Rent a Car</h4>
								</a>
								<p>
									The preservation of human life is the ultimate value, a pillar of ethics and the foundation.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-other-issue">
								<div class="thumb">
									<img class="img-fluid" src="{% static 'img/o2.jpg' %}" alt="">
								</div>
								<a href="#">
									<h4>Cruise Booking</h4>
								</a>
								<p>
									I was always somebody who felt quite sorry for myself, what I had not got compared.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-other-issue">
								<div class="thumb">
									<img class="img-fluid" src="{% static 'img/o3.jpg' %}" alt="">
								</div>
								<a href="#">
									<h4>To Do List</h4>
								</a>
								<p>
									The following article covers a topic that has recently moved to center stage–at least it seems.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-other-issue">
								<div class="thumb">
									<img class="img-fluid" src="{% static 'img/o4.jpg' %}" alt="">
								</div>
								<a href="#">
									<h4>Food Features</h4>
								</a>
								<p>
									There are many kinds of narratives and organizing principles. Science is driven by evidence.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End other-issue Area -->

    {% endblock %}
		</body>
	</html>
