{% extends 'test.html' %}
{% block content %}
  <div class="container">
    <center><h5>Select field(s) to update</h5></center>
    <div class="card hoverable">
      <div class="card-content">

        <form class="" action="{% url 'update:data_update_req' %}" method="post">
          {% csrf_token %}
          <fieldset>
            <legend>Local language: Telugu</legend>
            <b>Have address proof:</b>
              <input type="checkbox" id="address_proof">
              <label for="address_proof"></label>
            <input type="hidden" name="aadhar_num" value="{{ aadhar_num }}">
            <div class="card-content grey lighten-4">
              <button type="submit" name="button" class="waves-effect waves-light btn Center">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
