@import url('https://fonts.googleapis.com/css?family=Archivo:400,700');
*{
  box-sizing:border-box;
  padding-top:.5rem;
  padding-bottom:.5rem;
  font-family:  'Archivo', sans-serif;
  color: #687788;
}
body{
  background:#F9F9FF;
}
label{
  font-weight: 700;
  color: #324355;
  margin-bottom:0;
}
.form-group{
  margin-bottom:0;
}
form{
  box-shadow: 3px 10px 25px rgba(0,0,0,.05), 0px 1px 5px rgba(0,0,0,.05);
  padding:1rem 2rem 2rem 2rem;
  border-radius:3px;
  background:white;
  border-bottom:5px solid #2ee09d;
}

.form-control{
    box-shadow: inset 0px 2px rgba(0,0,0,.05);
    border: 1.25px solid #dedede;
    border-radius: 2px;
    height: 45px;
}
.form-check-input, input[type='checkbox']{
    border: 1.25px solid #dedede !important;
    border-radius: 2px;
    height: 30px;
}

 .green-btn {  background-color: #2ee09d;
    color: #FFF;
    transition: background .1s ease-in;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), inset 0 -2px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1),inset 0 -2px 2px 0 rgba(0,0,0,0.1);
    -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1),inset 0 -2px 2px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), inset 0 -2px 2px 0 rgba(0,0,0,0.1);
   border:none;
}

.green-btn:hover{
  background: #1cbf82;
}
