.Seat {
    background: #eee;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 3px 4px 11px 0px rgba(0,0,0,0.75);
    border: 2px solid transparent;
}

.Seat:hover {
    cursor: pointer;
    border: 2px solid #5594e6;
}