{% extends 'index.html'%}
{% load static %}

{% block slidecss %}
<style>
  .card {
    box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    border-radius:20px;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  .contact_btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #007bfff0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }



  .contact_btn:hover, a:hover {
    opacity: 0.7;
  }
  .box_carda{
    padding-left:70px;
    padding-top:40px;

  }
  .box{
    padding-left:150px;
  }


  .form{
      background-color: #fefefe;
      margin: 4% auto 15% auto;
      border: 1px solid #888;
      width: 500px;
      padding-bottom: 30px;
  }
  .modal {
      display:none;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
  }
  .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
  }
  .close:hover,.close:focus {
      color: #57cbcc;
      cursor: pointer;
  }
  input[type=text]{
      position: center;
      padding: 12px 20px;
      margin: 8px 26px;
      display: inline-block;
      border-radius: 10%;
      border: 1px solid #ccc;
      box-sizing: border-box;
      font-size:16px;
  }



</style>
{% endblock slidecss %}

{% block body_block %}
<div style="position:relative;text-align:center;color:black;">
    <img src="https://images.pexels.com/photos/1486101/pexels-photo-1486101.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="opacity:0.7;height:450px;width:100%;">
    <div style="position: absolute;bottom: 0;background: transparent;color: white;width: 100%;padding: 20px;">
        <h1 style="color: white">Wedding Cars</h1>
    </div>
</div>
<div class="box">
{% for item in cars %}
<div style="display:inline-block;">

<div style="display:inline-block;">
<div class="box_carda" >
<div class="card">
  <img src="{{item.car_photo.url}}" alt="John" style="width:300px;height:250px;">
  <h1>{{item.car_name}}</h1>
  <p>Price:{{item.price}}</p>
  <!-- <a class="contact_btn" href="{% url 'weddingcars:weddingcar_book' item.auto_increment_id %}" role="button">Book Car</a> -->

  <button onclick="document.getElementById('modal-wrapper').style.display='block'" class="btn btn-primary book_a" style="background-color:#57cbcc">Book Car</button>
  <div id="modal-wrapper" class="modal">
      <form class="form" method="POST" action="{% url 'weddingcars:weddingcar_book' item.auto_increment_id %}">
          <div>
              <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
          </div>
          <div class="container">
            <h3 style="color:#18a3bf;text-align:center;">Book a car</h3>
              {% csrf_token %}

              <p style="font-family: sans-serif;font-size:20px;" >From Location:</p>
              <input type="text" id="mapsearch1" name="from_location" placeholder="Enter location"><br><br>
              <p style="font-family: sans-serif;font-size:20px;" >To Location:</p>
              <input type="text" id="mapsearch2" name="to_location" placeholder="Enter location"><br><br>
              <input type="submit" name="submit" value="submit" class="btn btn-info">
            </div>
        </form>
  </div>
  </div>
  </div>



</div>
</div>

{% endfor %}
</div>

<!--
<div class="box_carda">
<div class="card">
  <img src="https://images.pexels.com/photos/1486101/pexels-photo-1486101.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <button class="contact_btn">Contact</button>
</div>
</div> -->

</div><br>




<script>
    // If user clicks anywhere outside of the modal, Modal will close

    var modal = document.getElementById('modal-wrapper');

    window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
    }


</script>


  <script src="http://maps.google.com/maps/api/js?key=AIzaSyCe2otGPKiUf4Qq35MmOfDWHaQm-Cjtopw&libraries=places"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <script>



    var searchBox = new google.maps.places.SearchBox(document.getElementById('mapsearch1'));
    var searchBox = new google.maps.places.SearchBox(document.getElementById('mapsearch2'));


  </script>






{% endblock body_block %}
