{% extends 'nav.html' %}
{% block content %}
{% load staticfiles %}
			<!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Us
							</h1>
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="fa fa-long-arrow-right"></span>  <a href="about.html"> About Us</a></p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start about-info Area -->
			<section class="about-info-area section-gap">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 info-left">
							<img class="img-fluid" src="{% static 'img/packages/photo2.jpg' %}" alt="">
						</div>
						<div class="col-lg-6 info-right">
							<h6>About Us</h6>
							<h1>Who We Are?</h1>
							<p>Our goal is simple: to ensure our clients see not only the popular highlights of our phenomenal country, but are immersed in the more unusual facts of India. We want you to meet people in their everyday surroundings and experience India authentically with encounters that are up close and intimate. We want your expectations to be exceeded every time and be inspired by the enthusiasm we have for this amazing land.Our specialty, besides excellent tour and travel services, is to give you an opportunity to participate in bespoke India travel plans.
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End about-info Area -->

			<!-- Start price Area -->
			<section class="price-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-70 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">We Provide Affordable Prices</h1>
		                        <p>Well educated, intellectual people, especially scientists at all times demonstrate considerably.</p>
		                    </div>
		                </div>
		            </div>
					<div class="row">
						<div class="col-lg-4">
							<div class="single-price">
								<h4>Cheap Packages</h4>
								<ul class="price-list">
									<li class="d-flex justify-content-between align-items-center">
										<span>state</span>
										<a href="#" class="price-btn">package.Cost</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>Mumbai</span>
										<a href="#" class="price-btn">₹ 18,999</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>jaisalmer</span>
										<a href="#" class="price-btn">₹ 14,999</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>Nepal</span>
										<a href="#" class="price-btn">₹ 15,999</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>Mysore</span>
										<a href="#" class="price-btn">₹ 14,999</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>kerala</span>
										<a href="#" class="price-btn">Rs 17,999</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price">
								<h4>Cheap Packages</h4>
								<ul class="price-list">
									<li class="d-flex justify-content-between align-items-center">
										<span>Goa</span>
										<a href="#" class="price-btn">₹ 16,999</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>Mumbai</span>
										<a href="#" class="price-btn">₹ 18,999</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>jaisalmer</span>
										<a href="#" class="price-btn">₹ 14,999</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>Nepal</span>
										<a href="#" class="price-btn">₹ 15,999</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>Mysore</span>
										<a href="#" class="price-btn">₹ 14,999</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>kerala</span>
										<a href="#" class="price-btn">Rs 17,999</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price">
								<h4>Cheap Packages</h4>
								<ul class="price-list">
									<li class="d-flex justify-content-between align-items-center">
										<span>Goa</span>
										<a href="#" class="price-btn">₹ 16,999</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>Mumbai</span>
										<a href="#" class="price-btn">₹ 18,999</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>jaisalmer</span>
										<a href="#" class="price-btn">₹ 14,999</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>Nepal</span>
										<a href="#" class="price-btn">₹ 15,999</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>Mysore</span>
										<a href="#" class="price-btn">₹ 14,999</a>
									</li>
									<li class="d-flex justify-content-between align-items-center">
										<span>kerala</span>
										<a href="#" class="price-btn">Rs 17,999</a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- End price Area -->


						<!-- Start other-issue Area -->
						<section class="other-issue-area section-gap">
							<div class="container">
					            <div class="row d-flex justify-content-center">
					                <div class="menu-content pb-70 col-lg-9">
					                    <div class="title text-center">
					                        <h1 class="mb-10">Other issues we can help you with</h1>
					                        <p>We all live in an age that belongs to the young at heart. Life that is.</p>
					                    </div>
					                </div>
					            </div>
								<div class="row">
									<div class="col-lg-3 col-md-6">
										<div class="single-other-issue">
											<div class="thumb">
												<img class="img-fluid" src="{% static 'img/o1.jpg' %}" alt="">
											</div>
											<a href="#">
												<h4>Rent a Car</h4>
											</a>
											<p>
												The preservation of human life is the ultimate value, a pillar of ethics and the foundation.
											</p>
										</div>
									</div>
									<div class="col-lg-3 col-md-6">
										<div class="single-other-issue">
											<div class="thumb">
												<img class="img-fluid" src="{% static 'img/o2.jpg' %}" alt="">
											</div>
											<a href="#">
												<h4>Cruise Booking</h4>
											</a>
											<p>
												I was always somebody who felt quite sorry for myself, what I had not got compared.
											</p>
										</div>
									</div>
									<div class="col-lg-3 col-md-6">
										<div class="single-other-issue">
											<div class="thumb">
												<img class="img-fluid" src="{% static 'img/o3.jpg' %}" alt="">
											</div>
											<a href="#">
												<h4>To Do List</h4>
											</a>
											<p>
												The following article covers a topic that has recently moved to center stage–at least it seems.
											</p>
										</div>
									</div>
									<div class="col-lg-3 col-md-6">
										<div class="single-other-issue">
											<div class="thumb">
												<img class="img-fluid" src="{% static 'img/o4.jpg' %}" alt="">
											</div>
											<a href="#">
												<h4>Food Features</h4>
											</a>
											<p>
												There are many kinds of narratives and organizing principles. Science is driven by evidence.
											</p>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- End other-issue Area -->

    {% endblock %}
		</body>
	</html>
