{% extends 'nav.html' %}
{% block content %}
{% load staticfiles %}

						<!-- start banner Area -->
			<section class="banner-area relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen align-items-center justify-content-between">

						<div class="col-lg-4 offset-lg-4 col-md-6 banner-right">
							<div class="tab-content" id="myTabContent">
							  <div class="tab-pane fade show active" id="flight" role="tabpanel" aria-labelledby="flight-tab">

								<form class="form-wrap" method="POST">
								     <h2>Thank You</h2>
									 <p>For booking with us !!!</p>

								</form>
							</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->



    {% endblock %}
		</body>
	</html>
