{% extends 'party/base.html' %}
{% load static %}

{% block nav %}

  		  		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'authentication:party:party' %}" style="color:white;padding-left:25px;padding-right: 25px">Home
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'authentication:group:group_list' request.user.pk %}" style="color:white;padding-left:20px;padding-right: 20px">Groups</a>
			</li>
            <li class="nav-item">
				<a class="nav-link" href="{% url 'authentication:party:data_analysis' %}" style="color:white;padding-left:20px;padding-right: 20px">Data Analysis</a>
			</li>
            <li class="nav-item">
				<a class="nav-link" href="{% url 'authentication:party:payment_details' %}" style="color:white;padding-left:20px;padding-right: 20px">Payment</a>
			</li>
            <span class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style="padding-left:20px;padding-right: 20px; font-size:15px;padding-top:12px">Sentiment Analysis</a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink" style="width:100%;">
                <a class="dropdown-item" href="{% url 'authentication:party:sentimentanalysis:sentiment_analysis_single' %}" style="font-size:15px;">Single Predict</a>
                <a class="dropdown-item" href="{% url 'authentication:party:sentimentanalysis:sentiment_analysis_batch' %}" style="font-size:15px;">Batch Predict</a>
              </div>
            </span>
		</ul>



{% endblock %}

{% block content %}

    <div style="max-width: 850px; float: left; margin-left: 100px; margin-top: 120px">

     {% if group %}
        <h1 style=" font-size: 35px; font-weight: bold"> {{ group.1 }}</h1><br>
         <h3>{{ group.2 }}</h3><br>
    {% endif %}

    <a href="{% url  'authentication:group:create_event' group.0 %}" class="btn btn-primary" style="padding: 10px; border-radius: 5px; background: -webkit-linear-gradient(top, #2bfbff);">Create Event</a>
    <br><br>
    {% if event %}
        {% for events in event %}
            <div class="container" style="padding: 20px;">
               <div class="card" style="max-width:1200px">
                  <div class="card-body" style="padding: 20px">
                    <h1 class="card-title" style="font-size: 30px">{{ events.1 }}</h1>
                    <p class="card-text" style="font-size: 17px;" >{{ events.2 }}</p>
                      <p class="card-text" style="font-size: 15px;" >Location : <span style="font-size: 18px">{{ events.3 }}</span></p>
                      <p class="card-text" style="font-size: 15px;" >Date : <span style="font-size: 18px">{{ events.4 }}</span></p>
                      <br>
                    <a href="{% url  'authentication:group:update_event' events.0 %}" class="btn btn-primary" style="padding: 10px; border-radius: 5px; background: -webkit-linear-gradient(top, #2bfbff);">Update Event</a>
                    <a href="{% url  'authentication:group:delete_event' group.0 events.0 %}" class="btn btn-primary" style="padding: 10px; border-radius: 5px; background: -webkit-linear-gradient(top, #2bfbff);">Delete Event</a>
                  </div>
               </div>
            </div>

        {% endfor %}
     {% else %}
        <h3 style="padding: 30px; padding-bottom: 55%;">No events to show</h3>
    {% endif %}

    </div>

<div class="panel-group" id="accordion" style="width: 490px; float: right; padding-right: 100px; margin-top: 120px">
  <div class="panel panel-default">
     <div id="col_1" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="panel-group" id="accordion-inner" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" style="font-size: 14px;">
              <a class="accordion-toggle2" href="{% url  'authentication:group:members_list' group.0 %}">
                  Group Members
              </a>
            </h4>
          </div>
        </div>
        {% if usertype.is_party %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" style="font-size: 14px;">
              <a class="accordion-toggle2" href="{% url 'authentication:group:add_group_members' group.0 %}">
                  Add Group Members
              </a>
            </h4>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" style="font-size: 14px;">
              <a class="accordion-toggle2" href="{% url 'authentication:group:requested_members' group.0 %}">
                Pending Requests
              </a>
            </h4>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

</div>
</div>

    <div style="clear: both"></div>
{% endblock %}