{% extends 'news_items/base.html' %}
{% load static %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'authentication:news_items:articles_list' %}"
           style="color:white;padding-left:20px;padding-right: 20px">Home
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'authentication:news_items:regional_news' %}"
           style="color:white;padding-left:20px;padding-right: 20px">Regional News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'authentication:news_items:national_news' %}"
           style="color:white;padding-left:20px;padding-right: 20px">National News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'authentication:news_items:feed_new' %}" style="color:white;padding-left:20px;padding-right: 20px">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'authentication:group:events_location' %}"
           style="color:white;padding-left:20px;padding-right: 20px">Events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'authentication:news_items:feeds_list' %}"
           style="color:white;padding-left:20px;padding-right: 20px">News Feed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'authentication:news_items:saved_queries' %}"
           style="color:white;padding-left:20px;padding-right: 20px">Saved Searches</a></li>
{% endblock %}

{% block content %}
<div style="background-image: url({% static 'authentication/images/middle-cover.jpg' %});">
    <span class="login100-form-title p-t-100 p-b-30" style="background: #3c96ff; background: -webkit-linear-gradient(45deg, #2dfbff, #3c96ff);
						-webkit-background-clip: text;-webkit-text-fill-color: transparent; font-size:35px;">
                    Your Groups
                </span>

    {% if groups %}
        {% for group in groups %}
            <div class="container">
               <div class="card" style="max-width:1200px">
                  <div class="card-body" style="padding: 30px">
                    <h1 class="card-title" style="font-weight: bold">{{ group.1 }}</h1>
                    <p class="card-text" style="font-size: 16px;" >{{ group.2 }}</p>
                    <p>Date:</p>
                      <br><br>
                    <a href="{% url 'authentication:group:event_list' group.0 %}" class="btn btn-primary" style="padding: 10px; border-radius: 5px; background: -webkit-linear-gradient(top, #2bfbff);">Visit Group</a>
                    <a href="{% url 'authentication:group:exit_group' group.0 request.user.pk %}" class="btn btn-primary" style="padding: 10px; border-radius: 5px; background: -webkit-linear-gradient(top, #2bfbff);">Exit Group</a>
                  </div>
               </div>
            </div>
            <br><br>
        {% endfor %}
     {% else %}
        <div style="text-align: center">
            <p class="p-t-150" style="padding-bottom: 45px; font-size: 20px;">Your not part of any Political Groups. You have to be requested first by any party group in order to be a member of that group.</p>
        </div><br>
    {% endif %}

    <div style="text-align: center; padding-bottom: 130px"><a href="{% url 'authentication:group:user_requested' request.user.pk %}" class="btn btn-primary" style="padding: 10px; border-radius: 5px; background: -webkit-linear-gradient(top, #2bfbff);">Requested Groups</a></div>
</div>
{% endblock %}